<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ThinkCloud资料下载</title>
<script src="css/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="css/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<link href="css/doccss.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="bg">
<div class="box">
<div class="header" onclick="window.open('index.html','_self')"></div>
<div id="TabbedPanels1" class="TabbedPanels">
  <ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab" tabindex="0">云计算咨询</li>
    <li class="TabbedPanelsTab" tabindex="0">Openstack相关</li>
  </ul>
  <div class="TabbedPanelsContentGroup">
    <div class="TabbedPanelsContent">
      <ul>
        <li><a href="docs/Python学习手册_第3版.pdf">Python学习手册_第3版</a></li>
      </ul>
      <ul>
        <li><a href="docs/Cloud Compute.pdf" > 云计算（1） </a></li>
      </ul>
      <ul>
        <li><a href="docs/云计算.pdf" > 云计算 （2）</a></li>
      </ul>
      <ul>
        <li><a href="docs/云计算.pdf" > 云计算 （3）</a></li>
      </ul>
      <ul>
        <li><a href="docs/云计算.pdf" > 云计算 （4）</a></li>
      </ul>
      <ul>
        <li><a href="docs/云计算.pdf" > 云计算 （5）</a></li>
      </ul>
      <ul>
        <li><a href="docs/云计算.pdf" > 云计算 （6）</a></li>
      </ul>
      <ul>
        <li><a href="docs/云计算.pdf" > 云计算 （7）</a></li>
      </ul>
      <ul>
        <li><a href="docs/云计算.pdf" > 云计算 （8）</a></li>
      </ul>
      <ul>
        <li><a href="docs/云计算资料大全(了解云计算者必读).pdf" > 云计算资料大全(了解云计算者必读)</a></li>
      </ul>
    </div>
    <div class="TabbedPanelsContent">
      <ul>
        <li><a href="docs/openstack-centos-kvm-glusterfs-guide.pdf">Centos下安装部署Openstack文档</a></li>
      </ul>
      <ul>
        <li><a href="docs/OpenStack的架构详解.pdf">Openstack的架构详解 1</a></li>
      </ul>
      <ul>
        <li><a href="docs/OpenStack的架构详解.pdf">Openstack的架构详解 2</a></li>
      </ul>
      <ul>
        <li><a href="docs/OpenStack的架构详解.pdf">Openstack的架构详解 3</a></li>
      </ul>
      <ul>
        <li><a href="docs/OpenStack的架构详解.pdf">Openstack的架构详解 4</a></li>
      </ul>
      <ul>
        <li><a href="docs/OpenStack的架构详解.pdf">Openstack的架构详解 5</a></li>
      </ul>
      <ul>
        <li><a href="docs/OpenStack的架构详解.pdf">Openstack的架构详解 6</a></li>
      </ul>
      <ul>
        <li><a href="docs/OpenStack的架构详解.pdf">Openstack的架构详解 7</a></li>
      </ul>
      <ul>
        <li><a href="docs/OpenStack的架构详解.pdf">Openstack的架构详解 8</a></li>
      </ul>
       <ul>
        <li><a href="docs/OpenStackQA.pdf">OpenStackQA </a></li>
      </ul>
    </div></div>
</div>
</div>
</div>
<script type="text/javascript">
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>
</body>
</html>
