<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ThinkCloud</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body class="bg">
<div class="topbox">
	<div class="div">
    	<div class="logo"><img src="images/logo.gif" /></div>
    </div>
</div>
<div class="menubox">
	<div class="div">
    	<div class="rightbox r">
        	<input type="text" class="in" />
        	<input type="image" class="btn" src="images/so.png" />
        </div>
    	<div class="leftbox l f14 yh">
        <!-- 菜单开始 -->
        	<div 
class="menu">
<ul>
<li><a class="hide" href="#">首页</a>
<!--[if lte IE 6]>
<a href="#">首页</a>
<![endif]-->
</li>
<li><a class="hide" href="../menu/index.html">产品 | 服务</a>
<!--[if lte IE 6]>
<a href="../menu/index.html">产品 | 服务</a>
<![endif]-->
</li>
<li><a class="hide" href="#">成功案例</a><!--[if lte IE 6]>
<a href="#">成功案例</a>
<![endif]--></li>
<li><a class="hide" href="#">社区</a><!--[if lte IE 6]>
<a href="#">社区</a>
<![endif]--></li>
<li><a class="hide" href="#">帮助中心</a><!--[if lte IE 6]>
<a href="#">帮助中心</a>
<![endif]--></li>
<li><a class="hide" href="#">关于我们</a><!--[if lte IE 6]>
<a href="#">关于我们</a>
<![endif]--></li>
</ul>
</div>
		<!-- 菜单结束 -->
        </div>
    </div>
    
</div>
<div class="div">
	<div class="banner">
	<script type="text/javascript">
 var counts = 3;
 img1 = new Image();img1.src='images/banner1.jpg';url1 = new Image();url1.src = '#';alt1 = new Image();alt1.alt = '01';img2 = new Image();img2.src='images/banner2.jpg';url2 = new Image();url2.src = '#';alt2 = new Image();alt2.alt = '02';img3 = new Image();img3.src='images/banner3.jpg';url3 = new Image();url3.src = '#';alt3 = new Image();alt3.alt = '03';
function $dom(s){return document.getElementById(s);}
var nn=1;var key=0;function change_img(){if(key==0){key=1;}else if(document.all){$dom("cs_pic").filters[0].Apply();$dom("cs_pic").filters[0].Play(duration=2);}
eval('$dom("cs_pic").src=img'+nn+'.src');eval('$dom("cs_url").href=url'+nn+'.src');eval('$dom("cs_pic").alt=alt'+nn+'.alt');if(nn==1){$dom("cs_url").target="_blank";$dom("cs_url").style.cursor="pointer";}else{$dom("cs_url").target="_blank"
$dom("cs_url").style.cursor="pointer"}
for(var i=1;i<=counts;i++){$dom("xxjdjj"+i).className='axx';}
$dom("xxjdjj"+nn).className='bxx';nn++;if(nn>counts){nn=1;}
tt=setTimeout('change_img()',3000);}
function changeimg(n){nn=n;window.clearInterval(tt);change_img();}
function ImageShow(){document.write('<div class="picshow_main">');document.write('<div><a id="cs_url"><img id="cs_pic" class="imgbig" /></a></div>');document.write('<div class="picshow_change">');for(var i=0;i<counts;i++){document.write('<a href="javascript:changeimg('+(parseInt(i)+1)
+');" id="xxjdjj'+(i+1)
+'" class="axx" target="_self">'+(parseInt(i)+1)
+'</a>');}
document.write('</div></div>');change_img();}
ImageShow();</script></div>
    <div class="hack20"></div>
    <div class="mpic clearfix">
    	<ul>
        <li><a href="http://appserver.lenovo.com.cn/Lenovo_Brand_List.aspx?CategoryID=17"><img src="images/pic1.jpg" /></a></li>
        <li><a href="http://thinkserversp.lenovo.com/"><img src="images/pic2.jpg" /></a></li>
        <li class="nomar"><a href="dashboard/"><img src="images/pic3.jpg" /></a></li>
        </ul>
    </div>
    <div class="hack30"></div>
    <div class="botlink clearfix">
    	<div class="botlink1">
        	<dl>
            <dt>服务</dt><dd>云咨询服务</dd>
            </dl>
        </div>
    	<div class="botlink2">
        	<dl>
            <dt>软件</dt><dd>云咨询服务</dd><dd>云咨询服务</dd>
            </dl>
        </div>
    	<div class="botlink3">
        	<dl>
            <dt>服务</dt><dd>云咨询服务</dd>
            </dl>
        </div>
    	<div class="botlink4">
        	<dl>
            <dt>服务</dt><dd>云咨询服务</dd>
            </dl>
        </div>
    </div>
    <div class="footer">
    	<div class="footerlink f14 yh b white">想获得更好的服务？立即拨打 400-898-7968</div>
        <div class="txt f12">
        <p class="l">法律公告 | 隐私条款 | 联系我们</p><span class="r">京ICP证010221号 版权所有：1998-2012 联想集团</span>
        </div>                                                                            
    </div>
</div>
</body>
</html>
