{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_image_form{% endblock %}
{% block form_action %}{% url horizon:admin:physical_servers:create %}{% endblock %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block modal-header %}{% trans "Add New Physical Server" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>
        {% trans "Fill the basic hardware specification for physical server." %}
    </p>
       <p>
        <strong>{% trans "Please note: " %}</strong>
        {% trans "For the hardware component such as RAMs/Disks/Nics/HBAs can be added after the physical server was saved" %}
    </p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Save Physical Server" %}" />
  <a href="{% url horizon:admin:images:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
