{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "LVCC Solution" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("LVCC Solution") %}
{% endblock page_header %}

{% block main %}
{% load i18n horizon humanize sizeformat %}
<table >
<tr>
<td align=right>
<a href='http://thinkcloudlab.com/dashboard/project/instances/72f663a3-92fe-419c-9176-4ffead36cfd5/' title='即刻体验方案' id="security_groups__action_create" class="btn btn-small btn-danger btn-create" target="_blank">即刻体验方案</a>
</td>
</tr>
<tr>
<td>
<img src="../../../../images/lvcc/1.png"></img>
</td>
</tr>
<tr>
<td>
<img src="../../../../images/lvcc/2.png"></img>
</td>
</tr>
<tr>
<td>
<img src="../../../../images/lvcc/3.png"></img>
</td>
</tr>
<tr>
<td>
<img src="../../../../images/lvcc/4.png"></img>
</td>
</tr>
</table >
{% endblock %}
