{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Instances" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Instances") %}
{% endblock page_header %}

{% block main %}
  <p><strong>{% trans "Please note: " %}</strong></p>
  <p>
        {% trans "The default initialized administor/root password of instance is " %}
	<strong></strong>
  </p>
  <p>
        {% trans "Please change it after you launched instance." %}
  </p>
  {{ table.render }}
{% endblock %}
